/*
==========
Colours
==========
*/
/*
==========
Fonts
==========
*/
/*
==========
Measures
==========
*/
/*
==========
Definitions
==========
*/
/*
==========
Mixins
==========
*/
/*
==========
Reset
==========
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 0; }

/*
==========
Forms
==========
*/
label {
  display: block;
  margin-top: 10px; }

input {
  display: block;
  margin-top: 10px;
  padding: 5px;
  width: 100%; }
  input:disabled {
    background: #BBB; }

/*
==========
Structure
==========
*/
html,
body {
  height: 100%; }

aside {
  height: 100%;
  padding: 20px 60px 20px 20px;
  width: 250px; }

main {
  height: 100%;
  padding: 60px;
  width: 100%; }

/*
==========
Typography
==========
*/
body {
  color: #777;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5 {
  font: 500 1.5em / 1.2 "Helvetica Neue", Arial, sans-serif; }

h1 {
  color: #FFF; }

p,
label,
input {
  font: 300 16px / 1.2 "Helvetica Neue", Arial, sans-serif; }

label {
  color: #FFF; }

/*
==========
Grid
==========
*/
.o-grid {
  display: grid;
  height: 100%;
  margin: 0 auto;
  width: 100%; }

.o-grid-item:hover {
  background: #BBB; }

/*
==========
Menu
==========
*/
.o-menu-button {
  color: #FFF;
  font-size: 1.5em;
  line-height: 1;
  position: absolute;
  padding-right: 20px;
  right: 0;
  text-decoration: none;
  top: 20px; }

.is-closed .o-menu-heading {
  position: absolute;
  right: -35px;
  top: 120px;
  transform: rotate(270deg); }

/*
==========
Menu
==========
*/
.c-menu {
  background-color: #333;
  position: absolute; }

.c-menu.is-closed {
  left: -192px; }
