$measure-large: 60px;
$measure-regular: 40px;
$measure-small: 20px;
$measure-xsmall: 10px;

$border-width-regular: 5px;
$border-width-small: 1px;

$border-radius: 2px;

$aside-width: 200px;
$toggle-width: 58px;
