/*
==========
Definitions
==========
*/


// Properties

$border-width-large: $value-xsmall;
$border-width-regular: 1px;
$border-radius: 2px;


// Blocks

$aside-width: 250px;
$main-width: $percent-100;


// Elements

$menu-button-width: 58px;
$menu-button-line-height: 1;
