/*
==========
Measures
==========
*/


// Values

$value-xlarge: 60px;
$value-large: 40px;
$value-regular: 20px;
$value-small: 10px;
$value-xsmall: 5px;
$value-zero: 0;


// Percents

$percent-100: 100%;


// Properties

$property-auto: auto;
$property-none: none;
