/*
==========
Typography
==========
*/


// Base

body {
  color: $darkgrey;
  font-size: $size-base;
}


// Headings

h1,
h2,
h3,
h4,
h5 {
  font: $font-1-heading;
}

h1 {
  color: $white;
}


// Misc

p,
label,
input {
    font: $font-1-body;
}

label {
    color: $white;
}
