/*
==========
Grid
==========
*/


.c-grid {
    display: grid;
    height: 100%;
    margin: $value-zero $property-auto;
    width: 100%;

    &__item {

        &:hover {
            background: $grey;
        }

    }

}
