/*
==========
Grid
==========
*/


.o-grid {
    display: grid;
    height: 100%;
    margin: $value-zero $property-auto;
    width: 100%;
}

.o-grid-item:hover {
    background: $grey;
}
